<!-- Why Us -->
<section class="text-gray-700 body-font mt-10">
  <div class="flex justify-center text-3xl font-bold text-gray-800 text-center">
    Why Us?
  </div>
  <div class="container px-5 py-12 mx-auto">
    <div class="flex flex-wrap text-center justify-center">
      <div class="p-4 md:w-1/4 sm:w-1/2">
        <div class="px-4 py-6 transform transition duration-500 hover:scale-110">
          <div class="flex justify-center mb-4">
            <img src="../../../assets/why-us/Angular-js.jpg" class="h-32 w-auto" alt="Emerging Expertise in Angular Development">
          </div>
          <h2 class="title-font font-regular text-2xl text-gray-900">Emerging Expertise in Angular Development</h2>
          <p class="mt-2 text-gray-600">I’ve immersed myself in the Angular ecosystem, gaining hands-on experience with its robust features and best practices. My fresh perspective allows me to bring innovative and up-to-date solutions to your projects, leveraging the latest advancements in Angular to meet your needs effectively.</p>
        </div>
      </div>

      <div class="p-4 md:w-1/4 sm:w-1/2">
        <div class="px-4 py-6 transform transition duration-500 hover:scale-110">
          <div class="flex justify-center mb-4">
            <img src="../../../assets/why-us/clean-code.png" class="h-32 w-auto" alt="Passion for Clean and Efficient Code">
          </div>
          <h2 class="title-font font-regular text-2xl text-gray-900">Passion for Clean and Efficient Code</h2>
          <p class="mt-2 text-gray-600">My focus is on writing clean, maintainable, and efficient code. I adhere to Angular’s best practices to ensure your application is not only functional but also scalable and easy to manage. My commitment to quality coding standards means fewer bugs and smoother performance.</p>
        </div>
      </div>

      <div class="p-4 md:w-1/4 sm:w-1/2">
        <div class="px-4 py-6 transform transition duration-500 hover:scale-110">
          <div class="flex justify-center mb-4">
            <img src="../../../assets/why-us/proble-solving.jpeg" class="h-32 w-auto" alt="Strong Problem-Solving Skills">
          </div>
          <h2 class="title-font font-regular text-2xl text-gray-900">Strong Problem-Solving Skills</h2>
          <p class="mt-2 text-gray-600">During my year of experience, I’ve tackled a range of challenges and complex problems. Whether it's debugging, optimizing performance, or implementing new features, I approach each task with a problem-solving mindset, ensuring that your project benefits from effective and thoughtful solutions.</p>
        </div>
      </div>

      <div class="p-4 md:w-1/4 sm:w-1/2">
        <div class="px-4 py-6 transform transition duration-500 hover:scale-110">
          <div class="flex justify-center mb-4">
            <img src="../../../assets/why-us/fresh-prespective-and-innovation.png" class="h-32 w-auto" alt="Fresh Perspective and Innovation">
          </div>
          <h2 class="title-font font-regular text-2xl text-gray-900">Fresh Perspective and Innovation</h2>
          <p class="mt-2 text-gray-600">As a recent entrant into the field, I bring a fresh perspective to Angular development. I stay current with the latest trends and updates in Angular, ensuring that your projects are built using the most modern and effective practices. My approach integrates fresh ideas with proven methodologies for optimal results.</p>
        </div>
      </div>

      <div class="p-4 md:w-1/4 sm:w-1/2">
        <div class="px-4 py-6 transform transition duration-500 hover:scale-110">
          <div class="flex justify-center mb-4">
            <img src="../../../assets/why-us/dedicated-responsive.jpg" class="h-32 w-auto" alt="Dedicated and Responsive">
          </div>
          <h2 class="title-font font-regular text-2xl text-gray-900">Dedicated and Responsive</h2>
          <p class="mt-2 text-gray-600">My commitment to your project is unwavering. I pride myself on being highly responsive and dedicated to meeting deadlines. I understand the importance of clear communication and collaboration, ensuring that you are always informed and involved throughout the development process.</p>
        </div>
      </div>

      <div class="p-4 md:w-1/4 sm:w-1/2">
        <div class="px-4 py-6 transform transition duration-500 hover:scale-110">
          <div class="flex justify-center mb-4">
            <img src="../../../assets/why-us/user-experience.jpeg" class="h-32 w-auto" alt="Focus on User Experience">
          </div>
          <h2 class="title-font font-regular text-2xl text-gray-900">Focus on User Experience</h2>
          <p class="mt-2 text-gray-600">I emphasize creating applications that offer a seamless and engaging user experience. By focusing on Angular’s powerful features and user interface capabilities, I work to ensure that your application is not only functional but also intuitive and user-friendly.</p>
        </div>
      </div>

      <div class="p-4 md:w-1/4 sm:w-1/2">
        <div class="px-4 py-6 transform transition duration-500 hover:scale-110">
          <div class="flex justify-center mb-4">
            <img src="../../../assets/why-us/growth-mindset-and-continous-learning.png" class="h-32 w-auto" alt="Growth Mindset and Continuous Learning">
          </div>
          <h2 class="title-font font-regular text-2xl text-gray-900">Growth Mindset and Continuous Learning</h2>
          <p class="mt-2 text-gray-600">I am dedicated to continuous learning and improvement. With a strong drive to expand my skills and knowledge, I regularly engage with the latest Angular resources, tutorials, and community discussions. This growth mindset ensures that I’m always ready to tackle new challenges and incorporate new technologies into my work.</p>
        </div>
      </div>

      <div class="p-4 md:w-1/4 sm:w-1/2">
        <div class="px-4 py-6 transform transition duration-500 hover:scale-110">
          <div class="flex justify-center mb-4">
            <img src="../../../assets/why-us/cost-effective.jpeg" class="h-32 w-auto" alt="Cost-Effective Solutions">
          </div>
          <h2 class="title-font font-regular text-2xl text-gray-900">Cost-Effective Solutions</h2>
          <p class="mt-2 text-gray-600">Leveraging my one year of experience, I offer cost-effective solutions that deliver great value. My approach balances efficiency with effectiveness, ensuring that you receive high-quality Angular development without unnecessary overhead costs.</p>
        </div>
      </div>

    </div>
  </div>
</section>
