<section class="py-24 relative">
  <div class="w-full max-w-7xl px-6 lg:px-8 mx-auto">
      
      <div>
        <div class="flex items-center justify-center flex-col gap-5 mb-14">
            <h2 class="font-manrope font-bold text-4xl text-gray-900 text-center">LibraryOne</h2>
            <p class="text-lg font-normal text-gray-500 max-w-3xl mx-auto text-justify"> The LibraryOne project addresses the common issue faced by college students who need to carry physical library cards to access books. Our solution introduces a Virtual Library Card that simplifies this process. With LibraryOne, students can use their phone or email to receive a One-Time Password (OTP). Simply enter the OTP to verify your identity and gain instant access to the books you need, all without the hassle of carrying a physical card.</p>
        </div>
        <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-8 mb-14">
          <div class="sm:col-span-2 bg-cover bg-center max-md:h-80 rounded-lg flex justify-end flex-col px-7 py-6"
            style="background-image: url(../../../assets/projects/libraryOneV2/05.png);">
            <div class="mb-4">
                <h6 class="font-medium text-xl leading-8 text-white px-4 py-2 rounded">Help Section</h6>
            </div>
            <p class="text-base font-normal text-white px-4 py-2 rounded">
                It Helps You by Suggesting Books.
            </p>
          </div>
    
            <div class="block">
                <img src="../../../assets/projects/libraryOneV2/01.png" alt="LibraryOne Image - 01 Not Found" class="w-full rounded-lg object-cover">
            </div>
            <div class="block">
                <img src="../../../assets/projects/libraryOneV2/02.png" alt="LibraryOne Image - 02 Not Found" class="w-full rounded-lg object-cover">
            </div>
            <div class="block">
                <img src="../../../assets/projects/libraryOneV2/03.png" alt="LibraryOne Image - 03 Not Found" class="w-full rounded-lg object-cover">
            </div>
            <div class="block">
              <img src="../../../assets/projects/libraryOneV2/04.png" alt="LibraryOne Image - 04 Not Found" class="w-full rounded-lg object-cover">
            </div>
            <div class="block">
              <img src="../../../assets/projects/libraryOneV2/06.png" alt="LibraryOne Image - 06 Not Found" class="w-full rounded-lg object-cover">
            </div>
            <div class="block">
                <img src="../../../assets/projects/libraryOneV2/07.png" alt="LibraryOne Image - 07 Not Found" class="w-full rounded-lg object-cover">
            </div>
            
        </div>
      </div>

      <div>
        <div class="flex items-center justify-center flex-col gap-5 mb-14">
            <h2 class="font-manrope font-bold text-4xl text-gray-900 text-center">PeopleInsight - CMS</h2>
            <p class="text-lg font-normal text-gray-500 max-w-3xl mx-auto text-center"> This Helps To Manage Site Data Such as Uploadind data , Modifying Data and Deleting Data and Also Here We can set Image Order Shown is Site and Many More Functionality.</p>
        </div>
        <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-8 mb-14">
          <div class="sm:col-span-2 bg-cover bg-center max-md:h-80 rounded-lg flex justify-end flex-col px-7 py-6"
            style="background-image: url(../../../assets/projects/PeopleInsight-cms/05.png);">
            <div class="mb-4">
                <h6 class="font-medium text-xl leading-8 text-black bg-blue-50/30 px-4 py-2 rounded">Image Position Changer</h6>
            </div>
            <p class="text-base font-normal text-black bg-blue-50/30 px-4 py-2 rounded">
                In This Page You can update Image Order
            </p>
          </div>
    
            <div class="block">
                <img src="../../../assets/projects/PeopleInsight-cms/01.png" alt="Building structure image" class="w-full rounded-lg object-cover">
            </div>
            <div class="block">
                <img src="../../../assets/projects/PeopleInsight-cms/02.png" alt="Building structure image" class="w-full rounded-lg object-cover">
            </div>
            <div class="block">
                <img src="../../../assets/projects/PeopleInsight-cms/03.png" alt="Building structure image" class="w-full rounded-lg object-cover">
            </div>
            <div class="block">
              <img src="../../../assets/projects/PeopleInsight-cms/04.png" alt="Building structure image" class="w-full rounded-lg object-cover">
            </div>
            <div class="block">
              <img src="../../../assets/projects/PeopleInsight-cms/06.png" alt="Building structure image" class="w-full rounded-lg object-cover">
            </div>
            <div class="block">
              <img src="../../../assets/projects/PeopleInsight-cms/07.png" alt="Building structure image" class="w-full rounded-lg object-cover">
            </div>
        </div>
      </div>
      <button
          class="w-full rounded-lg py-4 px-6 text-center bg-indigo-100 text-lg font-medium text-indigo-600 transition-all duration-300 hover:text-white hover:bg-indigo-600" (click)="LoadMore()">Load
          More</button>
        
  </div>

</section>
                                      