
<!-- hero section -->
<div class="relative w-full h-[320px]" id="home">
  <div class="absolute inset-0 opacity-70">
      <img src="../../../assets/hero/hero_01.jpg" alt="Hero Image Not Found" class="object-cover object-center w-full h-full" />
  </div>
  <div class="absolute inset-0 flex items-center justify-end px-4 md:px-9">
      <div class="md:w-1/2 text-right mb-4 md:mb-0">
          <h1 class="text-grey-700 font-medium text-4xl md:text-5xl leading-tight mb-2 hover:text-[#64ff3d] ">Uday Shankar Purbey</h1>
          <p class="font-regular text-xl mb-8 mt-4 hover:text-[#64ff3d] ">Angular Developer</p>
          <a routerLink="/home/contact-us"
              class="px-6 py-3 bg-[#0be3ff] text-white font-medium rounded-full hover:bg-[#64ff3d] transition duration-200">Contact
              Us</a>
      </div>
  </div>
</div>

